/* 
body{
    background-color: aquamarine;
} */

/* shared style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    
    background-color: #FD6E0A;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}


nav{
    width: 71%;
    max-width: 1140p;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo h2{
    font-size: 45px;
    font-weight: bold;

}


.color-orange{
    color: orange;
}

nav .menu {
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}