/* 
body{
    background-color: aquamarine;
} */

/* shared style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    
    background-color: #FD6E0A;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* main style */
header{
    background-color: #da915d;
    padding-top: 50px;
    background: url(/hero-dev-portfolio-resources/images/developer.png), url(/hero-dev-portfolio-resources/images/header_bg.png), #e9cfbc;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


nav{
    width: 71%;
    max-width: 1140p;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo h2{
    font-size: 45px;
    font-weight: bold;

}


.color-orange{
    color: orange;
}

nav .menu {
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-info h3{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-info h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-info p{
    font-size: 18px;
    
    line-height: 30px;
    margin-bottom: 20px;
    
}

#banner .banner-image {
    max-width: 585px;
    vertical-align: middle;
}